<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block extra_meta %}{% endblock %}
    <title>{% block title %}auto-weibo·beta {% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css?v=20130204" /> -->

    <link rel="icon" href="{{ MEDIA_URL}}favicon.ico" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
    {% block extra_css %}{% endblock %}
    {% block extra_styles %}{% endblock %}
  </head>

  <body>
    {% block nav  %}
      {% include "navigation.html" with m="index" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% comment %}
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    {% endcomment %}

    {% block extra_content %}{% endblock %}

    {% block extra_js %}{% endblock %}
    {% block extra_scripts %}{% endblock %}

  </body>
</html>
