{% extends 'base.html' %}

{% block content %}

Edit Priority Access Token

{{ user.username }}

<a href="{% url 'home' %}">Home</a>
&nbsp;
<a href="{% url 'logout' %}">Logout</a>

<div class="btn-box">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<br><br>
<form id="test_form" action="{% url 'edit_pri_access_token' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
  {{ form.as_ul }}<br>
  <input type="submit" value="Change Now" />
</form>

{% endblock %}